@import url('https://fonts.googleapis.com/css2?family=Baloo:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    color: #fff;
    height: 64px;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(90deg, #fb2121, #2dca36);
    z-index: 0;
}