.content-beauty-salon-confirm {
    margin: 10px 2%;
}

.container-form-confirm-avatar {
    margin: 10px 0;
    display: flex;
}

.form-confirm-avatar-image {
    width: 40%;
    display: flex;
    justify-content: center;

}

.form-confirm-avatar-image img {
    height: 150px;
    width: 150px;
    object-fit: contain;
    border-radius: 50%;
}

.form-confirm-avatar-info {
    width: 60%;

}

.form-confirm-avatar-info p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;

}

.container-form-confirm-booking-info {
    padding: 10px 3%;

}

.container-form-confirm-booking-info p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}