.Search .ant-input::placeholder {
    color: rgb(68, 68, 68);
}

.Search {
    border-radius: 50px;
    width: 50%;
}

.Search .ant-input-prefix {
    margin-right: 8px;
}

.Button {
    font-weight: 400;
    font-size: '1rem';
}